<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="card text-center">
                        <div class="card-body">

                            <form #frmProducto="ngForm">
                                <h3>Registro de Productos</h3>
                                <div class="form-group">
                                    <input class="form-control" type="text" #descripcion="ngModel" name="descripcion" placeholder="Descripcion" [(ngModel)]="registroProducto.descripcion">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" #categoria="ngModel" name="categoria" placeholder="Categoria" [(ngModel)]="registroProducto.categoria">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" #precio="ngModel" name="precio" placeholder="Precio" [(ngModel)]="registroProducto.precio">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" #cantidad="ngModel" name="cantidad" placeholder="Cantidad" [(ngModel)]="registroProducto.cantidad">
                                </div>
                                <button type="button" class="btn btn-outline-dark" (click)="guardarProducto(frmProducto)">Agregar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 table-responsive">
                    <table title="title">
                        <h3 class="text-center">Lista de Productos</h3>
                    </table>
                    <table class="table table-bordered table-hover ">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Descripcion</th>
                                <th class="text-center">Categoria</th>
                                <th class="text-center">Precio</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Acciones</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let producto of listaProductos" class="text-center">
                                <td>{{producto.descripcion}}</td>
                                <td>{{producto.Categoria}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td>{{producto.precio}}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" id="editar" (click)="ObtenerProducto(producto._id)">Editar</button>
                                        <button type=" button " class="btn btn-sm btn-outline-warning " id="eliminar " (click)="eliminarProducto(producto._id) ">Eliminar</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js " integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI " crossorigin="anonymous "></script>
</body>

</html>